* {
  margin: auto;
  padding: 3%;
  box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(253, 221, 124);
}

img {
  padding: 1%;
}  

.cups {
  vertical-align: center;
  margin: 1% auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.cS, .cM {
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 1%;
}

.cS-white, .cM-white {
  background: rgba(255, 255, 255, 1);
}

.cS-white::after, .cM-white::after {
  background: rgba(255, 255, 255, 1); 
}

.cS::after, .cM::after {
  content:'';
  top: 0;
  left: 0;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: transform 0.5s;
}

.cS:hover::after, .cM:hover::after {
  transform: scaleY(1.5);
}

.cS {
  padding: 0%;
}

.cupSm {
  position: relative;
  padding: 0%;
  transform: translate(3%);
}

.smoke {
  padding: 0%;
  position: absolute;
  top: -65%;
  transform: translateX(-200%);
}

.bean {
  padding: 0%;
  position: absolute;
  top: 20%;
  transform: translateX(-260%);
}

h2 {
  padding: 0%;
  position: relative;
  transform: translateY(-30%);
  font-size: 8rem;
  font-family: Miso-Bold;
  color: rgba(2, 153, 91, 255);
}

h3 {
  font-size: 6rem;
  font-family: Miso Regular;
  color: rgba(51, 51, 51, 255);
}

p {
  font-size: 2rem;
  font-family: Lato-Light;
  padding: 6%;
  width: 70%;
  color: rgba(51, 51, 51, 255);
}

@font-face {
  font-family: Miso-Bold;
  src: url('./style/fonts/miso-bold.otf');
}

@font-face {
  font-family: Lato-Light;
  src: url('./style/fonts/Lato-Light.ttf')
}

@font-face {
  font-family: Miso Regular;
  src: url('./style/fonts/miso-cufonfonts/miso.otf')
}